/* Reset styel */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.experience-canvas{
  z-index: var(--z-normal);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Wrapper of all sections -------------------------------------*/
.section-wrapper{
position: absolute;
z-index: 1;
}
/* First section ------------------------------------------------*/
.first-section{
position: relative;
height: 200vh;
width: 100vw;
}
/* Second section -----------------------------------------------*/
.second-section{
position: relative;
height: 200vh;
width: 100vw;
}
/* Third section - content ----------------------------------------*/
.third-section{
position: relative;
visibility: hidden;
background-color: var(--body-color);
transition: background-color .4s;
}

/* Fourth section - content -----------------------------------------*/
.fourth-section{
  position: relative;
  visibility: hidden;
  background-color: var(--body-color);
  transition: background-color .4s;
}

/* Fifth section - content -------------------------------------------*/
.fifth-section{
  visibility: hidden;
  position: relative;
  height: 200vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  /* transition: visibility .3s; */
}

