.home__container{
row-gap: 4rem;
padding-top: 10rem;
}

.home__data{
  row-gap: 1.5rem;
}

.home__title{
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: 2px;
  margin-bottom: .5rem;
}

.home__blob{
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
}

.home__profile{
  width: 170px;
  height: 260px;
  background: var(--gradient-color);
  border-radius: 5.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home__profile img{
  width: 150px;
}

.home__social{
  justify-content: center;
  display: flex;
  column-gap: 1.25rem;
}

.home__social-link{
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color .3s;
}

.home__social-link:hover{
  color: var(--title-color);
}

.home__info{
  display: grid;
  row-gap: 2rem;
}

.home__info-title{
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.home__info-description,
.home__info-number{
  font-family: var(--title-font);
  letter-spacing: 1px;
  color: var(--title-color)
}

.home__info-description{
  padding-right: 4rem;
}

.home__info-number{
font-size: var(--h1-font-size);
}
