.services{
  padding-top: 20rem;
}

.services__container{
  row-gap: 2.5rem;
  justify-content: center;
}

.services__card{
  position: relative;
  width: 268px;
  height: 362px;
  background-color: var(--container-color);
  text-align: center;
  padding: 3.5rem 1rem ;
  border-radius: 7.25rem;
  overflow: hidden;
}

.services__card i{
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .75rem;
  transition: transform .8s;
}

.services__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}

.services__border{
  width: 268px;
  height: 362px;
  border-radius: 7.75rem;
}

.services__card:hover i{
  transform: rotateY(360deg);
}

