.skills__container{
  row-gap: 3.5rem;
}

.skills__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  margin-bottom: 2.5rem;
}

.skills__title i{
  font-size: 1rem;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob{
  display: grid;
}

.skills__info{
  grid-template-columns: repeat(3, 1fr);
}

.skills__data{
  justify-content: center;
  text-align: center;
}

.skills__blob{
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
}

.skills__blob img{
  width: 40px;
}

.skills__name{
  font-size: var(--smaller-font-size);
  margin-bottom: .25rem;
}

.skills__subtitle{
  font-size: var(--tiny-font-size);
  color: var(--text-color-light)
}

/*----------------Animation-------------------*/
.skills__blob:hover img{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translateY(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translatY(-3px);
  }
  80%{
    transform: translate(0);
  }
}

